{% extends base.html %}
{% block title %}
关于yx0914 - yx0914.me
{% end %}

{% block css %}
{% end %}


{% block js %}
{% end %}

{% block main %}
<div class="about">
    <div class="title">
        关于Yx
    </div>
    <div class="introduce">大家好，我是吴永兴，一只刚毕业的程序猿。</div>

    <div class="info">

        <div class="section">标签</div>
        <div class="offset">
            <h4>

                <span class="label label-info">基本属性</span>
                <span class="label label-info">晋江狼</span>
                <span class="label label-info">天秤座</span>
                <span class="label label-info">强迫症</span>
            </h4>

            <h4>
                <span class="label label-warning">单词拼写</span>
                <span class="label label-warning">Java</span>
                <span class="label label-warning">Android</span>
                <span class="label label-warning">Python</span>
            </h4>

            <h4>
                <span class="label label-success">教育背景</span>
                <span class="label label-success">2015本科毕业</span>
                <span class="label label-success">福建师范大学</span>
                <span class="label label-success">软件工程</span>
            </h4>
        </div>
        <div class="section">经历</div>
        <div class="offset">
            <ul>
                <li>
                    <span class="glyphicon glyphicon-menu-right"></span>
                    就读 福建师范大学 软件学院 软件工程专业
                    <span class="date">2011/09</span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-menu-right"></span>
                    实习 在携程打了三个月的酱油
                    <span class="date">2014/08</span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-menu-right"></span>
                    实习 在美团又打了三个月的酱油
                    <span class="date">2014/12</span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-menu-right"></span>
                    毕业 大学专注于"自学", 累计写了几W行垃圾代码，不懂算法，喜欢做APP、前端
                    <span class="date">2015/07</span>
                </li>

                <li>
                    <span class="glyphicon glyphicon-menu-right"></span>
                    待续 ...
                </li>
            </ul>
        </div>
        <div class="section">联系方式</div>
        <ul>
            <li>微博: <a href="http://weibo.com/yx0914">http://weibo.com/yx0914</a></li>
            <li>邮箱: <a href="mailto:canfengxiliu@gmail.com">canfengxiliu@gmail.com</a></li>
        </ul>
    </div>

</div>
{% end %}