<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    {% block seo %}
    <meta name="keywords" content="yx0914,yx0914.me,www.yx0914.me,个人博客,博客">
    <meta name="description" content="yx0914,yx0914.me,www.yx0914.me,个人博客,博客">
    {% end %}
    <title>{% block title %}{% end %}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
    {% block css %}{% end %}
    <link type="text/css" rel="stylesheet" href="/static/css/yx0914.css">

    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/yx0914.js"></script>
    {% block js %}{% end %}
</head>
<body>
<div id="container">
    <div id="header-wrap">
        <div id="header">
            <img id="logo" src="/static/img/logo.jpg" alt="logo">

            <div id="header-title">五行属逗</div>
            <div id="header-sub-title">以逗逼的方式去享受生活的点点滴滴 - yx0914.me</div>
        </div>
    </div>
    <div id="menus">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
            <li><a href="/article/all/page/1">&nbsp;博&nbsp;客&nbsp;</a></li>
            <li><a href="/guestbook">&nbsp;留&nbsp;言&nbsp;</a></li>
            <li><a href="/about">&nbsp;关&nbsp;于&nbsp;</a></li>
        </ol>
    </div>
    <div id="content">
        <div id="sidebar">
            <div class="weibo">
                <iframe width="250" height="110" class="share_self" frameborder="0" scrolling="no"
                        src="http://widget.weibo.com/weiboshow/index.php?language=&width=250&height=110&fansRow=2&ptype=1&speed=0&skin=5&isTitle=1&noborder=0&isWeibo=0&isFans=0&uid=2045626400&verifier=e0e8dc08&colors=ffffff,ffffff,8a867e,4fb8f2,ecfbfd&dpc=1">
                </iframe>
            </div>
            <div class="sidebar-item">
                <div class="title">
                    最新博客
                </div>
                {% if len(types) == 0 %}
                <div>暂无博客</div>
                {% else %}
                <ul>
                    {% for item in latest_articles %}
                    <li><a href="/article/detail/{{ item.title }}">{{ item.title }}</a></li>
                    {% end %}
                </ul>
                {% end %}
            </div>

            <div class="sidebar-item">
                <div class="title">
                    分类目录
                </div>
                {% if len(types) == 0 %}
                <div>暂无分类</div>
                {% else %}
                <ul>
                    {% for item in types %}
                    <li><a href="/article/{{ item['type'] }}/page/1">{{ item['type'] }} ( {{ item['num'] }} )</a></li>
                    {% end %}
                </ul>
                {% end %}
            </div>
            <div class="sidebar-item">
                <div class="title">
                    友情链接
                </div>
                {% if len(links) == 0 %}
                <div>暂无友链</div>
                {% else %}
                <ul>
                    {% for item in links %}
                    <li><a href="{{ item['link'] }}">{{ item['text'] }}</a></li>
                    {% end %}
                </ul>
                {% end %}
            </div>
        </div>
        <div id="main">
            {% block main %}
            {% end %}
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer">
        版权所有&copy;2015 - yx0914.me (<a href="https://github.com/wyx0914/yxBlog">源码</a>)
        <a id="to-header" href="#header"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>回到顶部</a>
    </div>
</div>
</body>
</html>