* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.clear {
    clear: both;
}

body {
    min-width: 1000px;
    background: url(/static/img/background.jpg) center repeat;
}

#container {
    min-width: 1000px;
    width: 75%;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #adadad, -2px -2px 5px #adadad;
    background: #fff;
}

#header-wrap {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: url(/static/img/header_background.jpg) center no-repeat;
}

#header {
    position: relative;
    width: 400px;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
}

#logo {
    width: 80px;
    border-radius: 10%;
    box-shadow: 2px 2px 2px #e6e6e6, -2px -2px 2px #e6e6e6;
}

#header-title {
    margin-top: 10px;
    font-size: 30px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

#header-sub-title {
    margin-top: 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #777;
}

#menus {
    font-size: 18px;
    box-shadow: 0px 2px 10px #e6e6e6;
}

#menus ol {
    margin-bottom: 0px;
}

#footer {
    position: relative;
    padding: 10px;
    text-align: right;
    box-shadow: 0px -2px 10px #e6e6e6;
    background-color: #f5f5f5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#content {
    padding: 10px;
    position: relative;
}

#to-header {
    position: absolute;
    left: 10px;
}

#sidebar {
    position: absolute;
    right: 10px;
    display: inline-block;
    width: 250px;
}

#main {
    margin-right: 260px;
}

.weibo {
    box-shadow: 0px 2px 5px #8d8d8d;
}

.sidebar-item {
    margin-top: 10px;
}

.sidebar-item .title {
    font-size: 20px;
    font-weight: 500;
}

.sidebar-item ul {
    list-style-position: inside;
    list-style-image: url("/static/img/dot.png");
}

.sidebar-item ul li a {
    display:block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 0px;
}